<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
 
<div class="container">
  <h1>Welcome {{ doctor_name }}</h1>
  <h3>Show your availablity</h3>
  <div class="btn-group">
  <button type="button" class="btn btn-primary">Available</button>
  <button type="button" class="btn btn-primary">Not Available</button>

  <div class="jumbotron">
    <h1>Patient waiting:</h1>      
    <p>link the database and show the table of patients that are waiting for the doctor</p>
    
  </div>

  <div class="jumbotron">
    <h1>Patients you have seen in the past:</h1>      
    <p>link the database and show the table of patients that are waiting for the doctor(if more than 1 patient can be present in the buffer)</p>
  </div>

</div>
</div>

</body>
</html>
