<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
 <h1>Welcome Dr. {{ name }}</h1>

  <div class="jumbotron">
    <h2>Patient waiting</h2>  
    <hr>    
    <div class="container">
    <p>Upcoming Patient:</p>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Patient ID</th>
        <th>Problem</th>
        <th>Room</th>
        <th>Date of Admission</th>
        <th>Prescription</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ new_patient.id }}</td>
      <td><strong><a href = "http://127.0.0.1:8000/login/doctor/home/patient/{{ new_patient.patient_id.id }}">  {{ new_patient.patient_id.id }}   </a></strong></td>
      <td>{{ new_patient.patient_problem }}</td>
      <td>{{ new_patient.room_id.id }}</td>
      <td>{{ new_patient.patient_date_of_admission }}</td>
      <td><strong><a href = "http://127.0.0.1:8000/login/doctor/home/prescription/{{ new_patient.id }}">  +  </a></strong>
    </tr>

    </tbody>
  </table>
  </div>
  </div>

 <div class="jumbotron">
    <h2>Appointments</h2>  
    <hr>
    <div class="container">
  <p>Your previous appointments:</p>    
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Patient ID</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Problem</th>
        <th>Room</th>
        <th>Date of Admission</th>
      </tr>
    </thead>
    <tbody>
    {% for i,j in data %}
    <tr>
      <td>{{ i.id }}</td>
      <td><strong><a href = "http://127.0.0.1:8000/login/doctor/home/patient/{{ i.patient_id.id }}">  {{ i.patient_id.id }}  </a></strong></td>
      <td>{{ j.patient_gender }}</td>
      <td>{{ j.patient_age }}</td>
      <td>{{ i.patient_problem }}</td>
      <td>{{ i.room_id.id }}</td>
      <td>{{ i.patient_date_of_admission }}</td>
    </tr>
    {% endfor %}

    </tbody>
  </table>
</div>    
  </div>
  <button type="button" class="btn btn-primary" onclick="location.href = 'http://127.0.0.1:8000/login/';">Logout</button>

 <!-- <div class="jumbotron">
    <h2>Patients</h2>  
    <hr>
    <div class="container">
  <p>Pateints you have seen in the past:</p>     
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Problem</th>
        <th>Date of Admission</th>
        <th>House No</th>
        <th>Street No</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
    {% for i in data %}
    <tr>
      <td>{{ i.id }}</td>
      <td>{{ i.patient_name }}</td>
      <td>{{ i.patient_gender }}</td>
      <td>{{ i.patient_problem }}</td>
      <td>{{ i.patient_date_of_admission }}</td>
      <td>{{ i.patient_house_no }}</td>
      <td>{{ i.patient_street_no }}</td>
      <td>{{ i.patient_city_name }}</td>
    </tr>
    {% endfor %}

    </tbody>
  </table>
</div>    
  </div>-->

</div>
</div>

</body>
</html>
