<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <img src="https://financialtribune.com/sites/default/files/field/image/17january/12_makeover.jpg" class="rounded" alt="Cover" width="500" height="400"> 
  <h1>Welcome</h1>
  <h3>Login:</h3>
  <div class="btn-group btn-group-lg">
    <button type="button" class="btn btn-primary" onclick="location.href = 'http://127.0.0.1:8000/login/doctor';">Doctor</button>
    <button type="button" class="btn btn-primary" onclick="location.href = 'http://127.0.0.1:8000/login/receptionist';">Receptionist</button>
  </div>          
</div>

</body>
</html>
