<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Patient Information</h1>
  <div class = "jumbotron">

  <h2>{{ patient.patient_name }}</h2>
  <hr>
  <div class="container">
  <p>Patient information:</p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>House No.</th>
        <th>Street No.</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ patient.patient_name }}</td>
        <td>{{ patient.patient_gender }}</td>
        <td>{{ patient.patient_age }}</td>
        <td>{{ patient.patient_house_no }}</td>
        <td>{{ patient.patient_street_no }}</td>
        <td>{{ patient.patient_city_name }}</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>


  <div class = "jumbotron">

  <h2>Prescriptions History</h2>
  <hr>
  <div class="container">
  <p>Patient information:</p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Appointment ID</th>
        <th>Problem</th>
        <th>Prescription</th>
        <th>Allot Room</th>
      </tr>
    </thead>
    <tbody>
    {% for i,j in a %}
      <tr>
        <td>{{ i.appointment_id.id }}</td>
        <td>{{ j.patient_problem }}</td>
        <td>{{ i.prescription }}</td>
        <td>{{ i.allot_room }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
</div>

</body>
</html>
